

.shopTitle{
    margin-top: -40px;
    height: 300px;
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    background-image: url("../../Assets/banner2.avif");
    background-size: cover;
    background-position: right;
    background-size: 1500px;
    font-size: 25px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}



.products{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.product {
    border-radius: 15px;
    width: 200px;
    height: 250px;
    margin: 100px;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product img{
    width: 270px;
    border: 2px outset white; /* Add border style */
    border-radius: 10px;
    transition: transform 0.2s ease;

}

.product img:hover {
    transform: scale(1.05);
  }

.product .description{
    text-align: center;
}

.product:hover {
    transition: 0.3s ease-in;
    cursor: pointer;
}

.addToCartBttn {
    background-color: transparent;
    border: 2px solid rgb(19, 19, 19);
    min-width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
  }
  
  .addToCartBttn:hover {
    background-color: rgb(19, 19, 19);
    color: white;
    cursor: pointer;
  }

  
